# Bases de datos locales (Privado)
*.db
*.db-journal
*.db-wal
*.db-shm

# Caché de tokens de Spotify y credenciales
*.cache
.env
config.py
.venv

# Archivos del sistema y de Python
__pycache__/
*.pyc
.DS_Store

Backend/a.py
Backend/cirugia.py
Backend/entrenar_algoritmo.py
Backend/extraer_picos.py
Backend/unuso.py
Backend/limpiador.py
historial_spotify_completo.csv
importar_csv.py
core_matematicov2.py
core_matematicov1.py
maquina_del_tiempov0.py
oneuse.py
playlist.py
1OverPlay.svg
