* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid green;
}

main {
    border: 2px solid black;
}

.screen {
    border: 2px solid red;
}

.overview {
    border: 2px solid green;
}

.overview-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid green;

    @media (width < 600px) {
        grid-template-columns: 1fr;
    }
}

.ovr-overview {
    border: 2px solid green;
}

.ovr-overview-content {
    display: flex;
    border: 2px solid green;
}

#ovr-overview-score {
    font-size: 4rem;
    font-weight: bold;
}

.ovr-overview-graph {
    border: 2px solid green;
}

.library-summary {
    border: 2px solid green;
}

.library-graph {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
}

.library-graph-legend {
    display: flex;
    flex-direction: column;
    border: 2px solid green;

    list-style: none;
}

.library-graph-buttons {
    display: flex;
    flex-direction: row;
    border: 2px solid green;

    justify-content: center;
    gap: 10px;
}


.detail-content {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

.detail-header {
    display: grid;
    justify-items: center;
    border: 2px solid green;
}

#detail-close-btn {
    border: 2px solid green;

    justify-self: end;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.detail-cover-wrapper {
    border: 2px solid green;
}

.detail-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid green;
}