.playlists-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;

    @media (width < 440px) {
        /* Los números para aplicar el responsive son meras pruebas, no son definitivos*/
        grid-template-columns: 1fr;
    }
}