.musical-profile-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    margin-block: var(--spacing-md);
}

.ovr-metrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xs);
    width: 100%;
    padding-inline-start: var(--spacing-xl);
}

.ovr-metrics::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 1px;
    height: 90%;
    background-color: var(--border-soft);
    opacity: 1;
}

.ovr-metrics>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.ovr-metrics>div>span:first-child {
    justify-self: start;
    font-size: 0.9rem;
    font-weight: 900;
}

.ovr-metrics>div>span:last-child {
    justify-self: end;
}

.musical-profile-header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30%;
    transform: translate(0%, 50%);
    width: 100%;
    height: 1px;
    background-color: var(--border-soft);
    opacity: 1;
}

.radar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-sm);
    position: relative;
}

.musical-profile-metrics::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 1px;
    background-color: var(--border-soft);
    opacity: 1;
}

.musical-profile-metrics::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 1px;
    height: 90%;
    background-color: var(--border-soft);
    opacity: 1;
}

.ovr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: var(--spacing-sm);
}

.ovr-container>span:first-child {
    font-size: 3.3rem;
}

.musical-profile-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: var(--spacing-sm);
}

.musical-profile-breakdown h3 {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.144);
}

.musical-profile-breakdown p {
    color: var(--color-text-secondary);
}