/* Quita las barras en toda la web manteniendo el scroll funcionando */
html,
body,
* {
    scrollbar-width: none;
    -ms-overflow-style: none;

}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(ellipse 140% 10vh at top center, rgba(47, 94, 38, 0.596) 0%, rgba(11, 15, 11, 0.493) 70%);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    position: sticky;
    top: 0;
    z-index: 100;

}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

body {
    background: radial-gradient(ellipse 140% 80vh at top center, rgba(29, 185, 84, 0.137) 0%, transparent 100%), var(--bg-main);
    background-attachment: fixed;
    min-height: 100vh;

}



main {
    padding-bottom: 0px;
    /* background-color: var(--bg-main); */
    /* Espacio para que la barra de navegación no tape el contenido */
}

.screen {
    display: none;

}

.screen.active {
    display: block;
}