.media-card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    flex: 0 0 200px;
}

.media-card-content {
    display: grid;
    justify-items: center;
    gap: 5px;
}

.media-card-ovr {
    display: flex;
    height: 50px;
    overflow: hidden;
}