.overview-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (width < 600px) {
        grid-template-columns: 1fr;
    }
}

.ovr-overview-content {
    display: flex;
}

#ovr-overview-score {
    font-size: 4rem;
    font-weight: bold;
}

.library-graph {
    display: flex;
    flex-direction: row;
}

.library-graph-legend {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.library-graph-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}