.search-result {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    height: 80px;
    outline: 2px solid green;
    margin-inline: 10px;
}

.search-result-image-wrapper {
    display: flex;
    justify-self: center;
    align-self: center;
}

.search-result-image {
    width: 70px;
    height: 70px;
}

.search-result-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search-result-ovr {
    display: flex;
    justify-content: center;
    align-items: center;
}